.search-result-body {
  position: absolute;
  top: 195px;
  width: 100%;
  height: 72vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.searchResults {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.searchTable {
  width: 95%;
  padding: 0.5rem 0 0.5rem 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #cff0f0;
  z-index: -1;
}

.beachspot {
  width: 20%;
}

.region {
  width: 5%;
}

.amenities {
  width: 12%;
}

.currentsurf {
  width: 45%;
}

.table-headers {
  font-size: 1.6rem;
  color: #215c74;
  text-align: center;
  letter-spacing: 0.2rem;
  z-index: -1;
}

.DataContainer {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.rowContainer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem 0 1rem 0;
  border-bottom: 1px solid #cccccc;
  z-index: -1;
}

.beach-data {
  text-align: center;
  color: #215c74;
  font-family: Ubuntu;
  font-size: 1.2rem;
  z-index: -1;
}

.beach-spot {
  width: 20%;
  font-weight: 700;
  text-align: left;
  padding-left: 2rem;
  z-index: -1;
}

.beach-region {
  width: 10%;
  text-align: left;
  z-index: -1;
}

.beach-amenities {
  width: 12%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: -1;
}

.icons-search-result {
  margin: 0 0.3rem;
  height: 2rem;
  z-index: -1;
}

.beach-currentinfo {
  width: 45%;
  font-size: 1.2rem;
  text-align: center;
  padding-left: 2rem;
  z-index: -1;
}

@media (max-width: 992px) {
  .beach-region {
    display: none;
  }

  .beach-amenities {
    width: 20%;
  }

  .amenities {
    width: 20%;
  }

  .beach-spot {
    width: 30%;
  }

  .beachspot {
    width: 30%;
  }

  .region {
    display: none;
  }

  .icons {
    width: 2rem;
    height: 2rem;
  }
}

/* @media (max-width: 768px) {
  .beach-amenities {
    flex-wrap: wrap;
  }
} */

@media (max-width: 768px) {
  .beach-amenities {
    width: 33%;
    padding-left: 2rem;
  }

  .amenities {
    width: 33%;
  }

  .beachspot {
    width: 33%;
  }

  .beach-currentinfo {
    width: 33%;
    text-align: justify;
  }

  .currentsurf {
    width: 33%;
  }
}

.paginate-buttons {
  margin-top: 5rem;
  display: flex;
}

.previous {
  margin-right: 13rem;
  font-size: 2rem;
  width: 8.5rem;

  color: #ffffff;
  background: linear-gradient(hsla(153, 23%, 46%), hsl(198, 52%, 37%));
  font-style: normal;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
  padding: 1%;
  /* box-shadow: 0 1rem 2rem rgba(17, 17, 0.299); */
}

.next {
  font-size: 2rem;
  width: 7.5rem;

  color: #ffffff;
  background: linear-gradient(hsla(153, 23%, 46%), hsl(198, 52%, 37%));
  font-style: normal;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
  /* box-shadow: 0 1rem 2rem rgba(17, 17, 0.299); */
}
