* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
*:focus {
  visibility: hidden;
}

html {
  font-size: 62.5%;
  font-family: "Ubuntu", sans-serif;
  height: 100%;
  min-height: 100%;
}
body {
  width: 100vw;
  min-height: 100%;
  font-family: "Ubuntu", sans-serif;
}

/*---Media Queries --*/
@media (max-width: 992px) {
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
}
