.forgotPassword-body {
  position: absolute;
  top: 200px;
  width: 100%;
  height: 72vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.changePassword-content {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: 1px solid #215c74;
  box-shadow: 0px 4px 4px #215c74;
  border-radius: 10px;
  width: 440px;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .passwordFeature-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .passwordFeature {
    text-decoration: none;
    margin: 1rem;
  
    font-size: 1.4rem;
    color: #2d728f;
    cursor: pointer;
    border-bottom: 1px solid #2d728f;
  }
  
  .passwordFeature:hover {
    color: #00bfbf;
    border-bottom: 1px solid #00bfbf;
  }
  
  .changePassword-btn {
    width: 30rem;
    height: 40px;
    color: #ffffff;
    background: linear-gradient(hsla(153, 23%, 46%), hsl(198, 52%, 37%));
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 1rem 2rem rgba(17, 17, 17, 0.299);
    margin-top: 2rem;
    border: 1px solid #2d728f;
  } */
