/* This is the first fold of the landing page. */
.top-content {
  height: 94vh;
  background-image: linear-gradient(
    to right,
    hsla(180, 37%, 72%, 0.6),
    hsla(182, 100%, 37%, 0.6)
  );
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* Header section of the landing page. */
header {
  height: 6vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid hsla(153, 23%, 46%, 0.5);
  position: sticky;
  top: 0px;
  background-color: #fff;
  text-transform: uppercase;
  z-index: 30;
  box-shadow: 0 0.2rem 0.2rem hsla(153, 23%, 46%, 0.5);
}

/* Container for the logo in the left. This will hold the drop and text logo. */
.logo-container {
  margin-left: 130px;

  display: flex;
  width: 300px;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  position: relative;
}

/* This is class for the drop shaped image logo. */
.logo {
  height: 40px;
  width: 40px;
}

/* This is image logo for the text - How's the water */
.logo-txt {
  height: 15px;
  width: 150px;
}

/* Navigation menu on the right hand side of the header */
.menu {
  width: 450px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 90px;
  text-transform: none;
  font-size: 1.4rem;
  color: #2d728f;
  font-weight: 500;
  letter-spacing: 2px;
}

.displayName {
  align-items: center;
  text-transform: none;
  font-size: 1.4rem;
  color: #2d728f;
  font-weight: 700;
  letter-spacing: 2px;
}

/* Link decoration styling for the navigation items */
header nav a {
  text-decoration: none;
  color: #2d728f;
  letter-spacing: 1px;
  font-style: bold;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  padding-right: 3.5rem;
}

/* The sign-up button in the header - top right. */
.signup-button {
  width: 70px;
  height: 30px;
  color: #ffffff;
  /* background-color: #2d728f; */
  background: linear-gradient(hsla(153, 23%, 46%), hsl(198, 52%, 37%));
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 1rem 2rem rgba(17, 17, 17, 0.299);
}

/* This is the container for the search content in the landing page. This is a wrapper */
/* over the search component. */
.search-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 7%;
  margin-left: 2%;
  animation-name: appear;
  animation-duration: 3s;
  animation-timing-function: ease-in;
}

/* CSS animation effect for the search items to appear on landing page. */
@keyframes appear {
  0% {
    opacity: 0;
    transform: translate(-100);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/* This is the hamburger icon for page responsiveness.  */
.hamburger-icon {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 25px;
  color: #2d728f;
  border: 1px solid #2d728f;
  border-radius: 5px;
  display: none;
  right: 90px;
  top: 1px;
  position: absolute;
}

/* Toggle effect for appearance and disappearance of the nav items on clicking */
/* the hamburger icon. */
#toggle {
  display: none;
}

/* Fold2 - About section - This is the styling for about section*/
.section-about {
  background-color: #eee;
  padding: 15rem 0;
  height: 100vh;
}

/* H2 - This is the secondary heading in all of the application*/
.heading-secondary {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #eee;
  font-family: "Ubuntu", sans-serif;
  letter-spacing: 2px;
  display: inline-block;
  background-image: linear-gradient(to left, #00bfbf, #5b9279);
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.2s;
}

/* On hover over secondary heading, there is a skew effect */
.heading-secondary:hover {
  transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(17, 17, 17, 0.299);
}

/* Fold2- About: Section - Content */
.about-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 73vh;
  color: rgba(91, 146, 121, 0.7);
}

/* Fold2 -About: Section - text content on the left */
.about-text-content {
  height: 45vh;
  width: 45%;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: column;
  text-align: justify;
  letter-spacing: 1px;
  line-height: 20px;
}

/* Fold2 - About: Section - image content on the right */
.about-img-content {
  height: 45vh;
  width: 35%;
}

.aboutContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.jordanPic {
  border-radius: 50%;
  max-width: 100%;
  height: auto;
  width: 30%;
  padding: 9px;
}

.jamesPic {
  border-radius: 50%;
  max-width: 100%;
  height: auto;
  width: 30%;
  padding: 9px;
}

.dalyPic {
  border-radius: 50%;
  max-width: 100%;
  height: auto;
  width: 30%;
  padding: 9px;
}

.robertPic {
  border-radius: 50%;
  max-width: 100%;
  height: auto;
  width: 30%;
  padding: 9px;
}

.gayathriPic {
  border-radius: 50%;
  max-width: 100%;
  height: auto;
  width: 30%;
  padding: 9px;
}

.anthonyPic {
  border-radius: 50%;
  max-width: 100%;
  height: auto;
  width: 30%;
  padding: 9px;
}

.jeffreyPic {
  border-radius: 50%;
  max-width: 100%;
  height: auto;
  width: 30%;
  padding: 9px;
}

.jamesText {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #5b9279;
  margin-top: 2%;
}

.dalyText {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #5b9279;
  margin-top: 2%;
}

.robertText {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #5b9279;
  margin-top: 2%;
}

.jordanText {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #5b9279;
  margin-top: 2%;
}

.gayathriText {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #5b9279;
  margin-top: 2%;
}

.anthonyText {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #5b9279;
  margin-top: 2%;
}

.jeffreyText {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #5b9279;
  margin-top: 2%;
}

/* H3 - Common H3 across the landing page */
.heading-teritiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #5b9279;
  margin-top: 2%;
}

/*Paragraph - content styling */
.paragraph {
  font-size: 1.6rem;
  margin-top: 1.5rem;
}

/* When not the last child use the following settings */
.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

/* Fold2 - About:Section - 'Learn More' button styling */
.btn-text {
  color: #00bfbf;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #00bfbf;
  font-size: 1.5rem;
  padding: 3px;
  transition: all 0.2s;
}

/* Fold2 - About:section - 'Learn More button styling for visited and link */
.btn-text:visited .btn-text:link {
  color: #00bfbf;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #00bfbf;
  font-size: 1.5rem;
  padding: 3px;
  transition: all 0.2s;
}

/* Fold2 - About:Section - On hover over the 'Learn More' link */
.btn-text:hover {
  background-color: #00bfbf;
  color: #eee;
  box-shadow: 0 1rem 2rem rgba(17, 17, 17, 0.299);
  transform: translateY(-2px);
  border-radius: 3px;
}

/* Fold2 - About:Section - When 'Learn More' is active link */
.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(17, 17, 17, 0.299);
  transform: translateY(0);
}

/* Fold2 - About:Section - Image section on the left - container */
.composition {
  position: relative;
}

/* Fold2 - About:Section - For each photo on the left */
.composition-photo {
  width: 55%;
  box-shadow: 0 1.5rem 4rem rgba(17, 17, 17, 0.4);
  border-radius: 2px;
  position: absolute;
  z-index: 10;
  transition: all 0.2s;
  outline-offset: 2rem;
}

/* Fold2: On hover over each image creates a frame like animation */
.composition-photo:hover {
  outline: 1.25rem solid #00bfbf;
  transform: scale(1.05) translateY(-1rem);
  box-shadow: 0 2.5rem 4rem rgba(17, 17, 17, 0.5);
  z-index: 20;
}

/* Fold2: Styling for each photo */
.composition-photo--p1 {
  top: -3rem;
  left: 0rem;
}

/* Fold2: Styling for each photo */
.composition-photo--p2 {
  top: 2rem;
  left: 45%;
}

/* Fold2: Styling for each photo */
.composition-photo--p3 {
  top: 12rem;
  left: 15%;
}

/* Fold3: Features - Section: Container */
.section-features {
  padding: 10rem 0;
  height: 100vh;
  background: linear-gradient(
      to right,
      hsla(180, 37%, 72%, 0.65),
      hsla(182, 100%, 37%, 0.65)
    ),
    url("../assets/features-pic-bg.jpg") repeat fixed 100%;
  background-size: cover;
  background-position: center;
}

/* Fold3: Features - section : Content */
.features-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  padding-top: 10%;
}

/* Fold3: Features - section : Each card is a feature box. Card styling */
.features-box {
  width: 27rem;
  height: 50vh;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(17, 17, 17, 0.15);
  color: #00bfbf;
  transition: transform 0.5s;
}

/* Fold3: Features - section: hover effect on each card */
.features-box:hover {
  transform: translateY(-1.5rem) scale(1.03);
}

/* Fold3: Features - section: The styling for the icon in each box. */
.features-box__icon {
  font-size: 6rem;
  margin-bottom: 0.5rem;
  display: inline-block;
  background-image: linear-gradient(to left, #00bfbf, #5b9279);
  -webkit-background-clip: text;
  color: transparent;
}

/* Fold3: Features - section: Text content styling for the cards */
.features-box-text {
  text-align: justify;
  margin: 3rem 0 3.5rem 0;
  line-height: 20px;
  font-size: 1.25rem;
}

.card-sub-heading {
  padding: 0;
  margin: 0;
  font-size: 1.2rem;
  text-transform: none;
}

/* Fold3: This might not be in use */
.features-btn {
  background-color: #00bfbf;
}

/* Fold4: Testimonials - section - Container styling*/
.section-testimonials {
  height: 100vh;
  padding: 10rem 0;
  position: relative;
}

/* Fold4: Testimonials - section - content styling */
.section-testimonials-content {
  height: 70vh;
  color: rgba(91, 146, 121, 0.7);
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Fold4: Testimonials - section - Styling each testimonial card */
.testimonial {
  width: 700px;
  margin: 2.5rem 10rem;
  box-shadow: 0 1.5rem 4rem rgba(17, 17, 17, 0.15);
  background-color: rgba(238, 238, 238, 0.616);
  border-radius: 3px;
  padding: 3rem 9rem;
  border-radius: 5px;
}

/* Fold4: Testimonials - section - Figure element styling - circle for each testimonial image */
.testimonial-circle {
  width: 10rem;
  height: 10rem;
  float: left;
  shape-outside: circle(50% at 50% 50%);
  -webkit-shape-outside: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  -webkit-clip-path: circle(50% at 50% 50%);
  margin-right: 2rem;
  position: relative;
  transform: translateX(-3rem) skewX(12deg);
}

/* Fold4: Testimonials - section - Text content styling */
/* .testimonial-text {
  transform: skewX(12deg);
} */

/* Fold4: Testimonials - section - Image styling */
.testimonial-img {
  height: 100%;
  transform: scale(-1.5%);
  transition: all 0.5s;
  backface-visibility: hidden;
}

/* Fold4: Testimonials - section - Image styling - hover effects*/
.testimonial-img:hover {
  transform: scale(1);
  filter: blur(6px) brightness(60%);
}

/* Fold4: Testimonials - section - Caption styling*/
.testimonial-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  color: #fff;
  font-size: 1.3rem;
  opacity: 0;
  transition: all 0.5s;
  backface-visibility: hidden;
  text-align: center;
}

/* Fold4: Testimonials - section - caption - hover effects */
.testimonial:hover .testimonial-caption {
  opacity: 1;
}

/* General background video styling */
.background-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.5;
}

/* Styling the actual content of the video */
.bg-video-content {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Styling the footer container */
.footer {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Media queries for a width of 992px */
@media (max-width: 992px) {
  .logo-container {
    margin-left: 20px;
  }
  /* displays the hamburger icon */
  .hamburger-icon {
    display: block;
    cursor: pointer;
  }

  /* Does not display the menu. This will be displayed only on click of hamburger icon */
  .menu {
    display: none;
  }

  /* .menu-loggedIn {
    display: none;
  } */

  /* Styling the nav items for drop-down view */
  header nav a {
    border-bottom: 1px solid #eee;
    width: 100%;
    padding: 10px;
  }

  /* Signup button in the drop-down of hamburger item */
  .signup-button {
    margin: 10px;
  }

  /* When the hamburger item is clicked */
  #toggle:checked + .menu {
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 150px;
    right: 0px;
    top: 43px;
    margin-right: 40px;
    padding: 0px;
    position: absolute;
    background-color: #ffffff;
  }
}

/* Breakpoint styling at 768px */
@media (max-width: 800px) {
  /* displays the hamburger icon - position for 768px*/
  .hamburger-icon {
    right: 70px;
  }

  .heading-secondary {
    margin: 0 2rem;
  }
  /* displays the hamburger icon */
  #toggle:checked + .menu {
    margin-right: 15px;
  }

  /* Positioning the logo for 768px */
  .logo-container {
    margin-left: 20px;
  }

  /* The features content will be made horizontal cards instead of vertical cards */
  .features-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    padding-top: 10%;
    margin: 0;
    padding: 0;
  }

  /* Features box will be horizontally sytled from this break point onwards */
  .features-box {
    width: 80%;
    height: 20vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 2%;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(17, 17, 17, 0.15);
    color: #00bfbf;
    transition: transform 0.5s;
  }

  /* The text will not be displayed from this break point onwards */
  .features-box-text {
    display: none;
  }

  .section-about {
    height: 70vh;
    padding-top: 6rem;
  }
  /* Styling the about section - flex direction to column */
  .about-content {
    display: flex;
    margin: 0;
    padding-top: 2rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 70vh;
    color: rgba(91, 146, 121, 0.7);
  }

  /* Styling the text content of the about section. More text area */
  .about-text-content {
    height: 50vh;
    width: 80%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    text-align: justify;
    letter-spacing: 1px;
    line-height: 20px;
  }

  /* Image content will not be displayed from this break point onwards */
  .about-img-content {
    display: none;
  }

  /* Margin styling for H3 */
  .heading-teritiary {
    margin-top: 0.5%;
  }

  /* Margin styling for p tags */
  .paragraph {
    margin-top: 0;
  }

  /* Margin styling and setting width for testimonial*/
  .testimonial {
    width: 90%;
    margin: 1rem;
  }

  /* Testimonial text to be sized to 100% of width */
  .testimonial-text {
    width: 100%;
  }
}

/* Breakpoint styling at 575px */
@media (max-width: 575px) {
  /* Positioning the hamburger icon for 575px */
  .hamburger-icon {
    right: 50px;
  }

  /* Positioning the dropdown for 575px */
  #toggle:checked + .menu {
    margin-right: 0px;
  }

  /* Positioning the logo for 575px */
  .logo-container {
    margin-left: 20px;
  }
}

/* Break point for really small phones*/
@media (max-width: 450px) {
  .section-about {
    height: 100vh;
    padding-top: 3rem;
  }

  /* .section-testimonials {
    display: none;
  } */
}

/* Break point for really small phones*/
@media (max-width: 360px) {
  .section-about {
    height: 160vh;
    padding-top: 3rem;
  }

  /* .section-testimonials {
    height: 140vh;
    display: none;
  } */
}
