/* This is the first fold of the landing page. */
.top-content {
  height: 94vh;
  background-image: linear-gradient(
      to right,
      hsla(180, 37%, 72%, 0.6),
      hsla(182, 100%, 37%, 0.6)
    ),
    url("../assets/background-flip.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Header section of the landing page. */
header {
  height: 6vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #2d728f;
}

/* Container for the logo in the left. This will hold the drop and text logo. */
.logo-container {
  margin-left: 90px;
  display: flex;
  width: 200px;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  position: relative;
}

/* This is class for the drop shaped image logo. */
.logo {
  height: 40px;
  width: 40px;
}

/* This is image logo for the text - How's the water */
.logo-txt {
  height: 15px;
  width: 150px;
}

/* Navigation menu on the right hand side of the header */
.menu {
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 90px;
}

/* Link decoration styling for the navigation items */
header nav a {
  text-decoration: none;
  color: #2d728f;
  letter-spacing: 1px;
  font-style: bold;
  font-weight: 550;
  font-size: 14px;
  line-height: 18px;
}

/* The sign-up button in the header - top right. */
.signup-button {
  width: 60px;
  height: 30px;
  color: #ffffff;
  background-color: #2d728f;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  border-radius: 5px;
  cursor: pointer;
}

/* This is the container for the search content in the landing page. This is a wrapper */
/* over the search component. */
.search-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 7%;
  margin-left: 2%;
  animation-name: appear;
  animation-duration: 3s;
  animation-timing-function: ease-in;
}

/* CSS animation effect for the search items to appear on landing page. */
@keyframes appear {
  0% {
    opacity: 0;
    transform: translate(-100);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/* This is the hamburger icon for page responsiveness.  */
.hamburger-icon {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 25px;
  color: #2d728f;
  border: 1px solid #2d728f;
  border-radius: 5px;
  display: none;
  right: 90px;
  top: 1px;
  position: absolute;
}

/* Toggle effect for appearance and disappearance of the nav items on clicking */
/* the hamburger icon. */
#toggle {
  display: none;
}

/* Fold2 - About section - This is the styling for about section*/
.section-about {
  background-color: #eee;
  padding: 15rem 0;
  height: 100vh;
}

.heading-secondary {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #eee;
  font-family: "Ubuntu", sans-serif;
  letter-spacing: 3px;
  display: inline-block;
  background-image: linear-gradient(to left, #00bfbf, #5b9279);
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.2s;
}

.heading-secondary:hover {
  transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(17, 17, 17, 0.299);
}

.about-content {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 73vh;
  color: rgba(91, 146, 121, 0.7);
}

.about-text-content {
  /* border: 1px solid green; */
  height: 45vh;
  width: 45%;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: column;
  text-align: justify;
  letter-spacing: 1px;
  line-height: 20px;
}

.about-img-content {
  /* border: 1px solid blue; */
  height: 45vh;
  width: 35%;
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;
}

.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.btn-text {
  color: #00bfbf;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #00bfbf;
  font-size: 1.5rem;
  padding: 3px;
  transition: all 0.2s;
}

.btn-text:visited .btn-text:link {
  color: #00bfbf;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #00bfbf;
  font-size: 1.5rem;
  padding: 3px;
  transition: all 0.2s;
}

.btn-text:hover {
  background-color: #00bfbf;
  color: #eee;
  box-shadow: 0 1rem 2rem rgba(17, 17, 17, 0.299);
  transform: translateY(-2px);
  border-radius: 3px;
}

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(17, 17, 17, 0.299);
  transform: translateY(0);
}

.composition {
  position: relative;
}

.composition-photo {
  width: 55%;
  box-shadow: 0 1.5rem 4rem rgba(17, 17, 17, 0.4);
  border-radius: 2px;
  position: absolute;
  z-index: 10;
  transition: all 0.2s;
  outline-offset: 2rem;
}

.composition-photo:hover {
  outline: 1.25rem solid #00bfbf;
  transform: scale(1.05) translateY(-1rem);
  box-shadow: 0 2.5rem 4rem rgba(17, 17, 17, 0.5);
  z-index: 20;
}

.composition-photo--p1 {
  top: -3rem;
  left: 0rem;
}

.composition-photo--p2 {
  top: 2rem;
  left: 45%;
}

.composition-photo--p3 {
  top: 12rem;
  left: 15%;
}

.section-features {
  /* background-color: #eee; */
  padding: 10rem 0;
  height: 100vh;
  background: linear-gradient(
      to right,
      hsla(180, 37%, 72%, 0.65),
      hsla(182, 100%, 37%, 0.65)
    ),
    url("../assets/features-pic-bg.jpg") repeat fixed 100%;
  background-size: cover;
  background-position: center;
}

.features-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 10%;
  /* padding-bottom: 10%; */
}

.features-box {
  width: 27rem;
  height: 50vh;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(17, 17, 17, 0.15);
  color: #00bfbf;
  transition: transform 0.3s;
}

.features-box:hover {
  transform: translateY(-1.5rem) scale(1.03);
}

.features-box__icon {
  font-size: 6rem;
  margin-bottom: 0.5rem;
  display: inline-block;
  background-image: linear-gradient(to left, #00bfbf, #5b9279);
  -webkit-background-clip: text;
  color: transparent;
}

.features-box-text {
  text-align: justify;
  margin: 3rem 0 3.5rem 0;
  letter-spacing: 1px;
  line-height: 20px;
}

.features-btn {
  background-color: #00bfbf;
}

/* Media queries for a width of 992px */
@media (max-width: 992px) {
  /* displays the hamburger icon */
  .hamburger-icon {
    display: block;
    cursor: pointer;
  }

  /* Does not display the menu. This will be displayed only on click of hamburger icon */
  .menu {
    display: none;
  }

  /* Styling the nav items for drop-down view */
  header nav a {
    border-bottom: 1px solid #eee;
    width: 100%;
    padding: 10px;
  }

  /* Signup button in the drop-down of hamburger item */
  .signup-button {
    margin: 10px;
  }

  /* When the hamburger item is clicked */
  #toggle:checked + .menu {
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 150px;
    right: 0px;
    top: 43px;
    margin-right: 40px;
    padding: 0px;
    position: absolute;
    background-color: #ffffff;
  }
}

/* Breakpoint styling at 768px */
@media (max-width: 768px) {
  /* displays the hamburger icon - position for 768px*/
  .hamburger-icon {
    right: 70px;
  }

  /* displays the hamburger icon */
  #toggle:checked + .menu {
    margin-right: 15px;
  }

  /* Positioning the logo for 768px */
  .logo-container {
    margin-left: 40px;
  }
}

/* Breakpoint styling at 575px */
@media (max-width: 575px) {
  /* Positioning the hamburger icon for 575px */
  .hamburger-icon {
    right: 50px;
  }

  /* Positioning the dropdown for 575px */
  #toggle:checked + .menu {
    margin-right: 0px;
  }

  /* Positioning the logo for 575px */
  .logo-container {
    margin-left: 30px;
  }
}
