.sResultContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bodySection {
  width: 120rem;
  height: 73vh;
  position: absolute;
  top: 195px;
}
.topSection {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 3rem;
  margin-top: 3rem;
  /* height: 210px; */
}
.leftSection {
  display: flex;
  flex-direction: column;
  width: 30%;
}
.graphSection {
  width: 30%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.rightSection {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.amenitiesSection {
  display: flex;
  align-items: center;
  width: 100%;
}

.subSectionDiv {
  width: 100%;
  border-bottom: 0.1rem solid #eee;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0.5rem;
}

.sHeader {
  color: #215c74;
  letter-spacing: 0.1rem;
  width: 30%;
  margin: 0 5px;
  font-size: 1.4rem;
  text-align: left;
  vertical-align: middle;
  padding-top: 2px;
}
.firstDiv {
  border-top: 0.1rem solid #eee;
}

.sElement {
  font-size: 1.4rem;
  width: 10px;
  text-align: center;
  vertical-align: middle;
}

.sText {
  color: #7c8386;
  letter-spacing: 0.1rem;
  text-align: left;
  margin: 2px 5px;
  width: 55%;
  font-size: 1.2rem;
}

.graph {
  background: hsla(180, 100%, 37%, 0.6);
  height: 80%;
  width: 100%;
}

.graphToggleText {
  text-decoration: underline;
  border: 0;
  padding-bottom: 1rem;
  cursor: pointer;
  color: #2d728f;
}

.graphToggleText:hover {
  color: #00bfbf;
}

/* .amenitiesText {
  font-size: 1.4rem;
  line-height: 1.8rem;
  letter-spacing: 0.1rem;
  color: #215c74;
  font-weight: 800;
  margin: 0;
} */
.iconsSection {
  display: flex;
  width: 45rem;
  /* justify-content: space-around; */
  /* Adding this so that the icons are arranged from the beginning.  */
  justify-content: flex-start;
  align-items: flex-start;
}
.iconsSearchResult {
  height: 2rem;
  margin: 0.5rem;
}

/* .iconsSearchResult:first-child {
  margin-left: 5rem;
} */

.bottomSection {
  font-family: Ubuntu;
  width: 100%;
  letter-spacing: 0.1em;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 0 0 0;
  border-top: 1px dotted rgba(91, 146, 121, 0.7);
  padding-top: 3rem;
  border-bottom: 1px dotted rgba(91, 146, 121, 0.7);
}

.bottomSection .beach-info {
  width: 30%;
  /* height: 28vh; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 2rem;
  margin-right: 4rem;
}

.bottomSection .map {
  width: 30%;
  height: 25vh;
  margin-bottom: 3rem;
}

.bottomSection .map .gm-style-mtc {
  display: none;
}

.bottomSection .map .gmnoprint {
  display: none;
}

.bottomSection .beach-pics {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 30%;
  margin-left: 2rem;
}

.bottomSection .beach-pics img {
  width: 30%;
  margin: 2px;
}

.bottomSection .beach-info span {
  height: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-wrap: wrap; */
  margin: 0 0 1.5rem 0;
}

.bottomSection .beach-info span h2 {
  font-weight: bold;
  font-size: 1.4rem;
  color: #215c74;
  letter-spacing: 0.1em;
  margin: 0 0.5rem 0 0;
  width: 25rem;
}

.bottomSection .beach-info span p {
  font-size: 1.4rem;
  color: #215c74;
  width: 45rem;
  margin-left: 0.5rem;
}

.footerDiv {
  margin-top: 2%;
}

@media (max-width: 992px) {
  .topSection {
    flex-direction: column-reverse;
    padding-bottom: 2rem;
    padding-top: 2rem;
    width: 100%;
  }

  /* .topSection :nth-child(1) {
    order: 1;
  }

  .topSection :nth-child(2) {
    order: 2;
  }

  .topSection :nth-child(3) {
    order: 1;
  } */

  .topSection .leftSection {
    margin: auto;
    width: 80%;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
  }

  .subSectionDiv {
    justify-content: center;
    align-items: center;
  }

  .sHeader {
    width: 10rem;
  }

  .sText {
    width: 20rem;
  }

  .topSection .graphSection {
    margin: auto;
    width: 80%;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
  }

  .topSection .rightSection {
    margin: auto;
    width: 80%;
    justify-content: center;
    align-items: center;
  }

  .bottomSection {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
  }

  .bottomSection :nth-child(1) {
    order: 3;
  }

  .bottomSection :nth-child(2) {
    order: 1;
  }

  .bottomSection :nth-child(3) {
    order: 2;
  }

  .bottomSection .map {
    width: 80%;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .bottomSection .beach-pics {
    margin: auto;
    width: 80%;
    height: auto;
  }

  .bottomSection .beach-info {
    width: 80%;
    margin: 0 0 0.5rem 0;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column-reverse;
    padding: 0 0 2rem 0;
  }

  .bottomSection .beach-info span {
    width: 100%;
    flex-direction: row-reverse;
  }

  .bottomSection .beach-info span .iconsSection {
    width: 45rem;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

/* @media (max-width: 768px) {
  .topSection {
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
  }

  .leftSection {
    width: 80%;
    margin: 0;
  }
  .rightSection {
    margin: 0;
    padding: 0;
    width: 80%;
  }
} */

/* @media (max-width: 575px) {

} */
