/* This is the container for the basic search */
.searchContainer {
  display: flex;
  flex-direction: column;
  width: 650px;
}

/* Setting the height and width for the search form*/
.searchForm {
  display: flex;
  width: 100%;
  height: 5rem;
}

/* Styles for search input field - basic search */
.searchInput {
  height: 35px;
  font-style: normal;
  color: #5b9279;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 1.2rem;
  border-radius: 3px;
  padding-left: 1rem;
  line-height: 1.8rem;
  letter-spacing: 0.1rem;
  border: 1px solid #fff;
}

/* Styling for the search button - basic search  */
.searchButton {
  cursor: pointer;
  width: 80px;
  height: 35px;
  background: linear-gradient(hsla(153, 23%, 46%), hsl(198, 52%, 37%));
  border: 0.1rem solid #2d728f;
  border-radius: 0rem 0.2rem 0.2rem 0rem;
  color: #ffffff;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.8rem;
  letter-spacing: 0.1rem;
}

/* This is the 'Advanced search' link. Its a button styled as a link.*/
.searchResultsContainer {
  background: #ffffff;
  width: 600px;
  position: absolute;
  margin-top: 3.6rem;
  border-radius: 3px;
}
.regionSearchContainer {
  border-bottom: 1px dashed #2d728f;
}
.searchResultText {
  font-size: 1.2rem;
  color: #5b9279;
  letter-spacing: 2px;
  line-height: 20px;
  padding: 10px;
  font-weight: 500;
  cursor: pointer;
  border-bottom: 0.5px solid #eee;
  position: relative;
  z-index: 1;
}
.aSearchToggleButton {
  cursor: pointer;
  width: 130px;
  height: 35px;
  margin-top: 10px;
  background: none;
  border: none;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.8rem;
  letter-spacing: 1px;
  color: #ffffff;
  border: none;
  text-decoration: none;
  padding: 0px 0 0px 0;
  margin: 0px;
  text-align: left;
  border-bottom: 2px solid #ffffff;
}

/* This is the container for advanced search filter contents */
.advancedSearchContainer {
  width: 100%;
  height: 4.5rem;
  display: flex;
  /* margin-top: 5px; */
  animation-name: appear;
  animation-duration: 0.5s;
}

.advancedRegionSelect {
  width: 10rem;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E")
    linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);

  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}

.advancedRegionSelect:focus {
  outline: none;
}

/* Animation effect for appear*/
@keyframes appear {
  0% {
    opacity: 0;
    transform: translateX(-100);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Form styling for advanced search */
.advancedSearchForm {
  width: 90%;
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 0rem 0.2rem 0.2rem 0rem;
  /* margin-top: 10px; */
  animation-name: moveInFromLeft;
  animation-duration: 5s;
}

/* Stling the check boxes */
.checkboxLabel {
  margin-bottom: 2rem;
}

/* Styling the checkbox input*/
.checkboxInput {
  position: absolute;
  opacity: 0;
  z-index: 1;
  cursor: pointer;
  height: 10px;
  width: 10px;
  border: 0.2rem solid #2d728f;
}

/* Styling for checkbox when it is checked */
/* This styling sets the background to  #2d728f so that the span item */
/* check is visible. */
.checkboxInput:checked ~ span {
  background: #2d728f;
  color: #ffffff;
}

/* This span adds the tick mark when checked*/
.checkboxSpan {
  color: #ffffff1a;
  position: absolute;
  height: 11px;
  width: 11px;
  border: 0.2rem solid #2d728f;
  font-size: 8px;
  margin-top: 4.5px;
  text-align: center;
}

/* Styling the icons for filter items */
.icons {
  margin-right: 10px;
  margin-left: 5px;
  /* width: 5%; */
  height: 2rem;
  filter: brightness(0) invert(1);
}

/* Styling the icon in a grid layout for advanced search */
.searchButtonGrid {
  cursor: pointer;
  width: 10%;
  height: 5rem;
  background: #2d728f;
  border: 0.1rem solid #2d728f;
  border-radius: 0rem 0.2rem 0.2rem 0rem;
  color: #ffffff;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.8rem;
  letter-spacing: 0.1rem;
  display: none;
}

/* The advanced search button */
.searchButtonAdvanced {
  cursor: pointer;
  width: 10%;
  height: 35px;
  background: linear-gradient(hsla(153, 23%, 46%), hsl(198, 52%, 37%));
  border: 0.1rem solid #2d728f;
  border-radius: 5px;
  color: #ffffff;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.8rem;
  letter-spacing: 0.1rem;
  margin-top: 0.5rem;
  margin-left: 1rem;
  box-shadow: 0 1rem 2rem rgba(17, 17, 17, 0.299);
}

.loadingDiv {
  display: flex;
}
.loadingText {
  color: #ffffff;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 1.6rem;
}
.errorDiv {
  display: flex;
}
.errorText {
  color: #000000;
}

/* Breakpoint for 992px */
@media (max-width: 992px) {
  /* Currently there are no styling for this breakpoint */
}

/* Breakpoint for 768px */
@media (max-width: 768px) {
  .searchContainer {
    width: 500px;
  }
  .searchResultsContainer {
    width: 50.4%;
  }
  .aSearchToggleButton {
    display: none;
  }

  .advancedSearchForm {
    display: none;
  }

  .searchButtonAdvanced {
    display: none;
  }
}

/* Breakpoint for 575px */
@media (max-width: 575px) {
  .searchContainer {
    width: 400px;
  }
  .aSearchToggleButton {
    display: none;
  }
}

/* Breakpoint for 450px */
@media (max-width: 450px) {
  .searchContainer {
    width: 250px;
  }
  .aSearchToggleButton {
    display: none;
  }
}
