.searchContainer {
  display: flex;
  flex-direction: column;
  width: 600px;
}
.searchForm {
  display: flex;
  width: 100%;
  height: 5rem;
}
.searchInput {
  height: 35px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  border-radius: 0rem 0.2rem 0.2rem 0rem;
  border: 0.1rem solid #2d728f;
  padding-left: 1rem;
  line-height: 1.8rem;
  letter-spacing: 0.1rem;
}
.searchButton {
  cursor: pointer;
  width: 80px;
  height: 35px;
  background: #2d728f;
  border: 0.1rem solid #2d728f;
  border-radius: 0rem 0.2rem 0.2rem 0rem;
  color: #ffffff;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.8rem;
  letter-spacing: 0.1rem;
}
.aSearchToggleButton {
  cursor: pointer;
  width: 130px;
  height: 35px;
  margin-top: 10px;
  background: none;
  border: none;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.8rem;
  letter-spacing: 1px;
  /* color: #2d728f; */
  color: #ffffff;
  /* background: #ffffff; */
  /* border: 0.1rem solid #2d728f; */
  border: none;
  text-decoration: none;
  padding: 0px 0 0px 0;
  margin: 0px;
  text-align: left;
  /* border-bottom: 2px solid #2d728f; */
  border-bottom: 2px solid #ffffff;
}
.advancedSearchContainer {
  width: 100%;
  height: 35px;
  display: flex;
  margin-top: 5px;
  animation-name: moveInFromLeft;
  animation-duration: 5s;
}
@keyframes moveInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.advancedSearchForm {
  width: 90%;
  height: 35px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #ffffff;
  border-radius: 0rem 0.2rem 0.2rem 0rem;
  border: 0.1rem solid #2d728f;
  margin-top: 10px;
  animation-name: moveInFromLeft;
  animation-duration: 5s;
}
.checkboxLabel {
  margin-bottom: 2rem;
}
.checkboxInput {
  /* margin: 5px 0 0 0; */
  position: absolute;
  opacity: 0;
  z-index: 1;
  cursor: pointer;
  height: 10px;
  width: 10px;
  border: 0.2rem solid #2d728f;
}
.checkboxInput:checked ~ span {
  background: #2d728f;
  color: #ffffff;
}
.checkboxSpan {
  color: #ffffff;

  position: absolute;
  height: 11px;
  width: 11px;
  border: 0.2rem solid #2d728f;
  font-size: 8px;
  /* line-height: 1.2; */
  margin-top: 4.5px;
  text-align: center;
}
.icons {
  height: 75%;
  margin-right: 25px;
}
.searchButtonGrid {
  cursor: pointer;
  width: 10%;
  height: 5rem;
  background: #2d728f;
  border: 0.1rem solid #2d728f;
  border-radius: 0rem 0.2rem 0.2rem 0rem;
  color: #ffffff;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.8rem;
  letter-spacing: 0.1rem;
  display: none;
}
.searchButtonAdvanced {
  cursor: pointer;
  width: 10%;
  height: 35px;
  background: #2d728f;
  border: 0.1rem solid #2d728f;
  border-radius: 0rem 0.2rem 0.2rem 0rem;
  color: #ffffff;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.8rem;
  letter-spacing: 0.1rem;
  margin-top: 10px;
  animation-name: moveInFromLeft;
  animation-duration: 3s;
}
/* @media (max-width: 992px) {
  .searchContainer {
    width: 400px;
    background-color: teal;
  }
  .aSearchToggleButton {
    width: 130px;
  }
  .advancedSearchForm {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 10rem;
    padding-left: 2rem;
  }
  .searchButtonGrid {
    display: block;
    width: 95%;
    height: 2.5rem;
    grid-column-start: 7;
    grid-column-end: 9;
  }
  .searchButtonAdvanced {
    display: none;
  }
} */

@media (max-width: 768px) {
  .searchContainer {
    width: 500px;
  }
  .aSearchToggleButton {
    display: none;
  }
}

@media (max-width: 575px) {
  .searchContainer {
    width: 400px;
  }
  .aSearchToggleButton {
    display: none;
  }
}
