.sResultContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bodySection {
  width: 120rem;
  height: 73vh;
  position: absolute;
  top: 195px;
}
.topSection {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  margin-bottom: 3rem;
  margin-top: 3rem;
}
.leftSection {
  display: flex;
  flex-direction: column;
  width: 30%;
}
.graphSection {
  width: 30%;
}
.rightSection {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.amenitiesSection {
  display: flex;
  align-items: center;
  width: 100%;
}

.subSectionDiv {
  width: 100%;
  border-bottom: 0.1rem solid #eee;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0.5rem;
}

.sHeader {
  color: #215c74;
  letter-spacing: 0.1rem;
  width: 30%;
  margin: 0 5px;
  font-size: 1.4rem;
  text-align: left;
  vertical-align: middle;
  padding-top: 2px;
}
.firstDiv {
  border-top: 0.1rem solid #eee;
}

.sElement {
  font-size: 1.4rem;
  width: 10px;
  text-align: center;
  vertical-align: middle;
}

.sText {
  color: #7c8386;
  letter-spacing: 0.1rem;
  text-align: left;
  margin: 2px 5px;
  width: 55%;
  font-size: 1.2rem;
}

.graph {
  background: hsla(180, 100%, 37%, 0.6);
  height: 100%;
}

.amenitiesText {
  font-size: 1.6rem;
  line-height: 1.8rem;
  letter-spacing: 0.1rem;
  color: #2d728f;
  font-weight: 800;
  margin: 0;
}
.iconsSection {
  display: flex;
  width: 30rem;
  /* justify-content: space-around; */
  /* Adding this so that the icons are arranged from the beginning.  */
  justify-content: flex-start;
}
.iconsSearchResult {
  height: 2rem;
  margin: 0.5rem;
}

.iconsSearchResult:first-child {
  margin-left: 5rem;
}

.bottomSection {
  font-family: Ubuntu;
  width: 100%;
  letter-spacing: 0.1em;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 0 0 0;
  border-top: 1px dotted rgba(91, 146, 121, 0.7);
  padding-top: 3rem;
  border-bottom: 1px dotted rgba(91, 146, 121, 0.7);
}

.bottomSection .beach-info {
  width: 50%;
  height: 28vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 2rem;
  margin-right: 7rem;
}

.bottomSection .beach-pics {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 40%;
  margin-left: 2rem;
}

.bottomSection .beach-pics img {
  width: 30%;
  margin: 2px;
}

.bottomSection .beach-info span {
  height: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-wrap: wrap; */
  margin: 0 0 1.5rem 0;
}

.bottomSection .beach-info span h2 {
  font-weight: bold;
  font-size: 1.4rem;
  color: #215c74;
  letter-spacing: 0.1em;
  margin: 0 0.5rem 0 0;
  width: 15rem;
}

.bottomSection .beach-info span p {
  font-size: 1.4rem;
  color: #215c74;
  width: 50rem;
}

.footerDiv {
  margin-top: 2%;
}

@media (max-width: 992px) {
  .topSection {
    flex-wrap: wrap;
  }

  .graphSection {
    display: none;
  }

  .leftSection {
    margin: 5% 0 0 0;
    width: 45%;
  }

  .rightSection {
    margin: 5% 0 0 0;
    width: 45%;
  }

  .bottomSection {
    flex-direction: column-reverse;
    padding-bottom: 2rem;
  }

  .bottomSection .beach-pics {
    margin: 0 0 0 0;
    width: 100%;
    height: auto;
  }

  .bottomSection .beach-info {
    width: 100%;
  }

  .bottomSection .beach-info span {
    margin: 2% 0 0 0;
  }
}

@media (max-width: 768px) {
  .topSection {
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
  }
  /* .firstDiv {
    display: none;
  } */

  .leftSection {
    width: 80%;
    margin: 0;
  }
  .rightSection {
    margin: 0;
    padding: 0;
    width: 80%;
  }
}

@media (max-width: 575px) {
  .graphSection {
    display: none;
  }
}
