.settingsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  height: 94vh;
}
.settingsDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.dot0 {
  position: absolute;
  background: rgba(0, 191, 191, 0.2);
  border-radius: 200px;
  width: 30rem;
  height: 30rem;
  left: 0rem;
  top: 0rem;
}

.textDiv {
  margin: 1rem auto;
  width: 90%;
  text-align: justify;
}
.textP {
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  color: #215c74;
  line-height: 2.5rem;
}
.settingsForm {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45rem;
  border: 0.1rem solid #215c74;
  background: #ffffff;
  border-radius: 1rem;
  margin-bottom: 2rem;
}
.inputLabel {
  margin: 1rem 2rem 0rem 2.25rem;
  align-self: flex-start;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 25px;
  letter-spacing: 0.1em;
  color: #215c74;
  vertical-align: middle;
}
.inputField {
  width: 90%;
  height: 3rem;
  background: #ffffff;
  border: 1px solid #215c74;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 2rem;
  letter-spacing: 0.1rem;
  color: #215c74;
}
.selectField {
  width: 90%;
  height: 3rem;
  background: #ffffff;
  border: 1px solid #215c74;
  box-sizing: border-box;
  font-weight: 500;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 2.5rem;
  letter-spacing: 0.1rem;
  color: #215c74;
  padding-left: 1rem;
}
.imageDiv {
  width: 90%;
  display: flex;
}
.showImageField {
  width: 75%;
  height: 3rem;
  background: #ffffff;
  border: 1px solid #215c74;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 2.5rem;
  letter-spacing: 0.1rem;
  color: #215c74;
  padding-left: 1.2rem;
  text-overflow: ellipsis;
  overflow: hidden;
  vertical-align: middle;
}
.imageInputLabel {
  cursor: pointer;
  background-image: url("../assets/icons8-folder-52.png");
  width: 3rem;
  height: 3rem;
  margin: auto;
  background-size: cover;
}
.imageField {
  opacity: 0;
  position: absolute;
  height: 0;
  width: 0;
}
.buttonsDiv {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.customButton {
  width: 120px;
  height: 40px;
  color: #ffffff;
  background: linear-gradient(hsla(153, 23%, 46%), hsl(198, 52%, 37%));
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 1rem 2rem rgba(17, 17, 17, 0.299);
  margin: 2rem 2rem;
  border: 1px solid #2d728f;
}

.error-settings {
  font-style: bold;
  font-weight: 1000;
  font-size: 1rem;
  line-height: 18px;
  letter-spacing: 0.1em;
  color: #eb1212;
  width: 100%;
  margin-left: 4.5rem;
}

.filterDiv {
  width: 90%;
}

.filterSpot {
  width: 100%;
  color: white;
  cursor: pointer;
  text-align: center;
  font-size: 1.3rem;
  padding: 1% 1% 1% 1%;
  background-color: #215c74;
}

.filterSpot:hover {
  background-color: white;
  color: #215c74;
}

@media (max-width: 768px) {
  .buttonsDiv {
    margin: 1rem 0 0 0;
  }
}
